import type { Context } from '@athenna/http'
import { Validator, BaseValidator } from '@athenna/validator'

@Validator()
export class {{ namePascal }} extends BaseValidator {
  public schema = this.validator.object({
    name: this.validator.string()
  })

  public async handle({ request }: Context) {
    const data = request.body

    await this.validate(data)
  }
}
