import type { Context } from '@athenna/http'
import { v, Validator, BaseValidator } from '@athenna/validator'

@Validator()
export class {{ namePascal }} extends BaseValidator {
  public schema = v.object({
    name: v.string()
  })

  public async handle({ request }: Context) {
    const data = request.body

    await v.validate(data)
  }
}
