import { v, Validator, BaseValidator } from '@athenna/validator'

@Validator()
export class {{ namePascal }} extends BaseValidator {
  public schema = v.object({
    name: v.string()
  })

  public async handle(data: any) {
    await v.validate(data)
  }
}
